body {
  font-family: arial;
}

.sudoku-board {
  width: 457px;
  overflow: auto;
  border: 1px solid black;
}

.sudoku-matrix {
  position: relative;

  border: 1px solid black;
  overflow: auto;
}

.sudoku-cell,
.sudoku-matrix {
  width: 32.8%;
  float: left;
}

.sudoku-cell {
  background-color: white;
  cursor: pointer;
  height: 44px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  font-size: 32px;
  padding-top: 6px;
}

.sudoku-cell.selected,
.sudoku-cell.selected:hover {
  background-color: yellow;
}

.sudoku-cell:hover {
  background-color:aqua;
}

.sudoku-cell:nth-child(1),
.sudoku-cell:nth-child(2),
.sudoku-cell:nth-child(3) {
  border-top: none;
}

.sudoku-cell:nth-child(1),
.sudoku-cell:nth-child(4),
.sudoku-cell:nth-child(7) {
  border-left: none;
}

.keyboard {
  overflow: auto;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.keyboard-key {
  display: block;
  box-sizing: border-box;
  list-style: none;
  width: 60px;
  height: 60px;
  float: left;
  border: 1px solid black;
  text-align: center;
  margin: 2px;
  padding-top: 12px;
  font-size: 30px;
  border-radius: 9px;
  cursor: pointer;
}

.keyboard-key.selected {
  background-color: yellow;
}

.current-selected-value-1 .value-1,
.current-selected-value-2 .value-2,
.current-selected-value-3 .value-3,
.current-selected-value-4 .value-4,
.current-selected-value-5 .value-5,
.current-selected-value-6 .value-6,
.current-selected-value-7 .value-7,
.current-selected-value-8 .value-8,
.current-selected-value-9 .value-9 {
  background-color: yellow;
}
